<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${username}]] Home</title>
    <link type="text/css" media="all" th:href="@{/css/bootstrap.css}"  rel="stylesheet"></link>
	<link type="text/css" media="all" th:href="@{/css/font-awesome.css}" rel="stylesheet"></link>
    <script type="text/javascript" th:src="@{/js/angular.min.js}"></script>

</head>
<body ng-app>

<p>Your name：</p>  
    <p><input id="name" ng-model="name" type="text"></p>  
 <h1>{{ "Hello 33" + name }}</h1> 


<script th:inline="javascript">

</script>

</body>
</html>