<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link type="text/css" media="all" th:href="@{/css/eric.css}"  rel="stylesheet"></link>
    <link type="text/css" media="all" th:href="@{/css/fontawesome.min.css}"  rel="stylesheet"></link>
    <link type="text/css" media="all" th:href="@{/css/bootstrap.min.css}"  rel="stylesheet"></link>
    <link type="text/css" media="all" th:href="@{/css/templatemo-style.css}"  rel="stylesheet"></link>
	
	<script type="text/javascript" th:src="@{/js/angular.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/home.agl.js}"></script>
    
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/moment.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/Chart.min.js}"></script>   
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/tooplate-scripts.js}"></script>
	<script type="text/javascript" th:src="@{/js/d3.v3.min.js}"></script>
	 
	
	<script th:inline="javascript">
	    var plates=[[${plates}]];
	    var costdata=[[${costdata}]];
		var orders=[[${orders}]];
		var notifys=[[${notifys}]];
		var weekdata=[[${weekdata}]];
		var monthdata=[[${monthdata}]];
	</script>

</head>

<body id="reportsPage">
    <div id="home" ng-app='homeapp' ng-controller="MainCtrl">
        <nav class="navbar navbar-expand-xl">
            <div class="container h-100">
                <a class="navbar-brand" th:href="index">
                    <h1 class="tm-site-title mb-0">Trsnscation</h1>
                </a>
                <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars tm-nav-icon"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent" ng-init="flag=0">
                    <ul class="navbar-nav mx-auto h-100">
                        <li class="nav-item">
                            <a ng-class="flag == 0 ? 'nav-link active' : 'nav-link'" ng-click="flag=0;loadpage(flag)"  href="#">
                                <i class="fas fa-tachometer-alt"></i>
                                	儀表版
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a ng-class="flag >= 1 && flag <= 3 ? 'nav-link dropdown-toggle active' : 'nav-link dropdown-toggle'" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="far fa-file-alt"></i>
                                <span>
                                	    報表 <i class="fas fa-angle-down"></i>
                                </span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" ng-click="flag=1;loadpage(flag)" href="#">週報</a>
                                <a class="dropdown-item" ng-click="flag=2;loadpage(flag)" href="#">月報</a>
                                <a class="dropdown-item" ng-click="flag=3;loadpage(flag)" href="#">消費比例</a>
                            </div>
                        </li>						
                        <li class="nav-item">
                            <a ng-class="flag == 4 ? 'nav-link active' : 'nav-link'" ng-click="flag=4;loadpage(flag)" href="#">
                                <i class="fas fa-hand-holding-usd"></i>
                                	轉換
                            </a>
                        </li>

                       <li class="nav-item">
                            <a ng-class="flag == 5 ? 'nav-link active' : 'nav-link'" ng-click="flag=5;directHome()" href="#">
                                <i class="fas fa-sync"></i>
                                	重新整理
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-cog"></i>
                                <span>
                                    	設定 <i class="fas fa-angle-down"></i>
                                </span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Profile</a>
                                <a class="dropdown-item" href="#">Billing</a>
                                <a class="dropdown-item" href="#">Customize</a>
                            </div>
                        </li>
                    </ul>
					
					<ul class="navbar-nav">
						<li class="nav-item">
							<img th:src="@{/img/{id}.png(id=${username})}" alt="Avatar" class="avatar">
						</li>
					</ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">	
                            <a class="nav-link d-block" href="logout">
                                [[${username}]], <b>登出</b>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </nav>
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="mt-5 mb-5">歡迎回來 , <b>[[${username}]]</b></p>
                </div>
            </div>
            <!-- row -->
             <div ng-include="template.url" >
			 
  
            </div>
        </div>
        <footer class="tm-footer row tm-mt-small">
            <div class="col-12 font-weight-light">
                <p class="text-center text-white mb-0 px-4 small">
                    Copyright &copy; <b>2019</b> All rights reserved. 
                    
                    Design: <a rel="nofollow noopener" href="#" class="tm-footer-link">Eric Wu(wl00254294@gmail.com)</a>
                </p>
            </div>
        </footer>
    </div>



</body>

</html>