<html xmlns:th="http://www.thymeleaf.org">
<head>
	<script type="text/javascript" th:src="@{/js/angular.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/home.agl.js}"></script>
    <script type="text/javascript" th:src="@{/js/d3.v3.min.js}"></script>
    <title>D3.js Demo </title>
    <style>
    body {
    font: 10px sans-serif;
    }

    axis path,
    .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    }

    .x.axis path {
    display: none;
    }    
 

    </style>
    
    <script th:inline="javascript">
		var myplates=[[${myplates}]];
		
	</script>
</head>


<body ng-app='homeapp' >

<div ng-controller="ReportCtrl">


<div ng-repeat="plate in platenames" ng-init="report_cost($index)" >
 	
</div>

<div class="row tm-content-row" th:each="plateset : ${param.plates}">
<div th:each="plate,plateStat : ${#strings.arraySplit(plateset, ',')}" class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col" th:style="(${plateStat.index}%2) == 0 ? 'float:left' : 'float:right'">
  
  <div class="tm-bg-primary-dark tm-block" >
  	 <h2 class="tm-block-title" th:id="${plate}">[[${plate}]] </h2>
 	 <!--  <div th:id="${plate}"> </div>-->
  </div>
</div>
</div>


</div>


</body>
</html>