<html xmlns:th="http://www.thymeleaf.org">
<head>
	<script type="text/javascript" th:src="@{/js/angular.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/home.agl.js}"></script>
    <script type="text/javascript" th:src="@{/js/d3.v3.min.js}"></script>
    <title>D3.js Demo </title>
    <style>
    body {
    font: 10px sans-serif;
    }

    axis path,
    .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    }

    .x.axis path {
    display: none;
    }    
    
    </style>
</head>


<body ng-app='homeapp' >

<div ng-controller="ReportCtrl">
<div id="eric" >[[${out}]] </div>
</div>

</body>
</html>